package pub

templ Index() {
  @Layout() {
    <h1>Aino on the Interweb</h1>
    <p>
      My presence on this global network.
      Aino is pronounced <i>eye-no</i>.
    </p>
    <p>
      I do not like all this fancy web stuff everybody now uses,
      so this is just plain <a href="https://github.com/theaino/aino_site">HTML written in Go</a>.
    </p>

    <h3>Contact</h3>
    <p>
      <ul>
        <li>Email: info (at) aino-spring (dot) com (<a href="https://keys.openpgp.org/vks/v1/by-fingerprint/7EA40D63698A041361DD3080A2F15C351B9CB710">PGP key</a>)</li>
        <li>XMPP: aino (at) aino-spring (dot) com</li>
        <li>GitHub: <a href="https://github.com/theaino">&#64;theaino</a></li>
      </ul>
    </p>
    <p>
      Not going to give you more.
    </p>

    <h3>Good things</h3>
    <figure>
      <img src="/res/imgs/mia.jpg" alt="Sorry that you cannot see my cat." style="max-width: 100%" width="300">
      <figcaption>My cat Mia, shot on Fomapan 200</figcaption>
    </figure>
    <p>
      Other stuff
    </p>
    <p>
      <ul>
        <li>
          <a href="https://publiccode.eu">https://publiccode.eu</a>
        </li>
        <li>
          <a href="https://motherfuckingwebsite.com">The excuse I use for this site's "design"</a>
        </li>
        <li>
          I also do some politics (member of <a href="https://fdp.de/">this party</a>)
        </li>
      </ul>
    </p>

    <h3>Bad things</h3>
    <p>
      Felix
    </p>
    <p>
      Javascript (this site uses 0%)
    </p>
    <details style="cursor: pointer">
      <summary>Click to reveal</summary>
      <p>
        Socialism (check history, it sucks)
      </p>
      <p>
        Taxes (they are theft)
      </p>
    </details>
  }
}
