package pub

templ Index() {
  @Layout() {
    <h1>Aino on the Interweb</h1>
    <p>
      My presence on the global network.
      Aino is pronounced <i>eye-no</i>.
    </p>
    <p>
      I do not like all this fancy web stuff everybody uses
      (and don't care enough to put that much work into my site),
      so this is just plain <a href="https://github.com/theaino/aino_site" target="_blank">HTML and Go</a>.
    </p>

    <h3>Contact</h3>
    <p>
      <ul>
        <li>Email: info (at) aino-spring (dot) com (<a href="https://keys.openpgp.org/vks/v1/by-fingerprint/7EA40D63698A041361DD3080A2F15C351B9CB710">PGP key</a>)</li>
        <li>XMPP: aino (at) aino-spring (dot) com</li>
        <li>Codeberg: <a href="https://codeberg.org/theaino" target="_blank">&#64;theaino</a> (recently tried it out, looks better than github)</li>
        <li>GitHub: <a href="https://github.com/theaino" target="_blank">&#64;theaino</a></li>
      </ul>
    </p>

    <p>
      I share my current book progress on <a href="https://www.goodreads.com/user/show/202602472-aino-spring" target="_blank">goodreads</a>, for those interested.
    </p>

    <p>
      I'm also doing some <a href="/gallery">photography</a>. Don't expect much though.
    </p>

    <h3>Things I support (and you should too)</h3>
    <p>
      <ul>
        <li>
          <a href="https://publiccode.eu" target="_blank">publiccode.eu</a>
        </li>
        <li>
          <a href="https://fightchatcontrol.eu" target="_blank">fightchatcontrol.eu</a>
        </li>
        <li>
          <a href="https://motherfuckingwebsite.com" target="_blank">The excuse I use for this site's "design"</a>
        </li>
      </ul>
    </p>

    <h3>Objectively evil things</h3>
    <ul>
      <li>Javascript (this site uses 0%)</li>
    </ul>
  }
}
