package pub

templ Login() {
  @Layout() {
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="password" name="password">
      <input type="submit" value="Login">
    </form>
  }
}
