{{ define "login" }}

{{ template "header" . }}

<h1>Sign in</h1>

<div class="container">
  {{ if .allowSignup }}
  <p>
    Don't have an account? <a class="change" href="/signup"><b>Sign up</b></a>
  </p>
  {{ end }}
  <div>
    <label for="email">Email</label><br>
    <input id="email" class="text-input" name="email"><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" class="text-input" name="password"><br>
    <p id="login-error"></p>
    <button id="login" class="submit" type="submit">Sign in</button>
  </div>
</div>

{{ template "footer" . }}

{{ end }}
