{{ define "new-post" }}

{{ template "header" . }}

<div class="container">
  <table id="title">
    <tr>
      <td class="back">
        <a href="/posts" class="back"><button class="square"><i class="fa-solid fa-angle-left"></i></button></a>
        <button id="finish-edit" class="square"><i class="fa-solid fa-circle-check"></i></button>
        <button id="public-edit"></button>
      </td>
      <td class="title">
        <h1 id="title-edit" contenteditable="true">New Post</h1>
      </td>
      <td class="date">
        <p class="date">{{ .date }}</p>
      </td>
    </tr>
  </table>
  <h1 id="mobile-title-edit" class="mobile-title" contenteditable="true">New Post</h1>
  <p id="abstract-edit" contenteditable="true">Abstract</p>
  <hr class="spacer">
  <div id="contents-edit" class="text-input" contenteditable="true">&lt;h1&gt;Hello, World!&lt;/h1&gt;</div>
</div>

{{ template "footer" . }}

{{ end }}
