{{ define "post" }}

{{ template "header" . }}

<script>
  _authed = "{{ .authed }}" === "true";
  _post_id = "{{ .post.id }}";
</script>

<div class="container">
  <table id="title">
    <tr>
      <td class="back" align="left">
        <a href="/posts" class="back"><button class="square"><i class="fa-solid fa-angle-left"></i></button></a>
        {{ if .authed }}
          <a href="/posts/{{ .post.id }}/edit" class="edit"><button class="square"><i class="fa-solid fa-pen-to-square"></i></button></a>
          <button id="delete" class="square"><i class="fa-solid fa-trash"></i></button>
        {{ end }}
      </td>
      <td class="title">
        <h1>{{ .post.title }}</h1>
      </td>
      <td class="date" align="right">
        <p class="date">{{ .post.date }}</p>
      </td>
    </tr>
  </table>
  <h1 class="mobile-title">{{ .post.title }}</h1>
  <p>{{ .post.abstract }}</p>
  <hr class="spacer">
  <p>{{ .post.contents }}</p>
  </div>
</div>

{{ template "footer" . }}

{{ end }}
