{{ define "post" }}

{{ template "header" . }}

<div class="container">
  <table id="title">
    <tr>
      <td class="back">
        <a href="/posts" class="back"><button class="square"><i class="fa-solid fa-angle-left"></i></button></a>
        {{ if .authed }}
          <a href="/posts/{{ .post.id }}/edit" class="edit"><button class="square"><i class="fa-solid fa-pen-to-square"></i></button></a>
        {{ end }}
      </td>
      <td class="title">
        <h1>{{ .post.title }}</h1>
      </td>
      <td class="date">
        <p class="date">{{ .post.date }}</p>
      </td>
    </tr>
  </table>
  <p>{{ .post.abstract }}</p>
  <hr class="spacer">
  <p>{{ .post.contents }}</p>
  </div>
</div>

{{ template "footer" . }}

{{ end }}
