{{ define "post" }}

{{ template "header" . }}

<div class="full-post">
  <table id="title">
    <tr>
      <td class="back">
        <a href="/posts" class="back"><button class="square">&lt;</button></a>
      </td>
      <td class="title">
        <h1>{{ .post.title }}</h1>
      </td>
      <td class="date">
        <p class="date">{{ .post.date }}</p>
      </td>
    </tr>
  </table>
  <p>{{ .post.abstract }}</p>
  <hr class="spacer">
  <p>{{ .post.contents }}</p>
  </div>
</div>

{{ template "footer" . }}

{{ end }}
