{{ define "settings" }}

{{ template "header" . }}

<h1>Settings</h1>

<div class="content">
  <table class="entries">
    {{ range $setting := .settings }}
    <tr class="entry">
      <td class="type hide">{{ $setting.type }}</td>
      <td class="value hide">{{ $setting.value }}</td>
      <td class="default-value hide">{{ $setting.defaultValue }}</td>
      <td class="key">{{ $setting.key }}</td>
      <td class="input"></td>
      <td class="reset"><button class="square"><i class="fa-solid fa-trash"></i></button></td>
    </tr>
  {{ end }}
  </table>
  <p id="settings-error"></p>
  <p id="settings-success"></p>
  <button id="save">Save settings</button>
</div>

{{ template "footer" . }}

{{ end }}
