{{ define "settings" }}

{{ template "header" . }}

<h1>Settings</h1>

<div class="content">
  <table class="entries">
    {{ range $setting := .settings }}
    <tr class="entry">
      <td class="type hide">{{ $setting.Type }}</td>
      <td class="value hide">{{ $setting.Value }}</td>
      <td class="default-value hide">{{ $setting.DefaultValue }}</td>
      <td class="key">{{ $setting.SettingKey }}</td>
      <td class="input"></td>
    </tr>
  {{ end }}
  </table>
  <button id="save">Save settings</button>
</div>

{{ template "footer" . }}

{{ end }}
