{{ define "signup" }}

{{ template "header" . }}

<h1 class="gradient">Sign up</h1>

<div class="container">
  <p>
    Already have an account? <a class="change" href="/login"><b>Sign in</b></a>
  </p>
  <div>
    <label for="name">Name</label><br>
    <input id="name" class="text-input" name="name"><br>
    <label for="email">Email</label><br>
    <input id="email" class="text-input" name="email"><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" class="text-input" name="password"><br>
    <p id="signup-error"></p>
    <button id="signup" class="submit" type="submit">Sign up</button>
  </div>
</div>

{{ template "footer" . }}

{{ end }}
