{{ define "users" }}

{{ template "header" . }}

<h1>Users</h1>

<div class="content">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th></th>
      <th>Verified</th>
    </tr>
    <p id="settings-error"></p>
    {{ range $user := .users }}
    <tr class="user">
      <td>{{ $user.Name }}</td>
      <td><a class="email" href="mailto:{{ $user.Email }}">{{ $user.Email }}</a></td>
      <td class="hide">{{ $user.Password }}</td>
      <td class="is-admin hide">{{ $user.IsAdmin }}</td>
      <td><button class="is-admin-edit checkbox square"></button></td>
      <td><button class="delete square"><i class="fa-solid fa-trash"></i></button></td>
      <td>
        {{ if $user.Verified }}
        <i class="fa-solid fa-check fa-xl"></i>
        {{ else }}
        <i class="fa-solid fa-xmark fa-xl"></i>
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </table>
</div>

{{ template "footer" . }}

{{ end }}
