{% extends "pages/base.html" %} {% load static %} {% block title %}Mood{%
endblock %} {% block content %}

<div class="container">
  {% for week in weeks %}
  <div class="row justify-content-center">
    {% for mood in week %}
    <div
      class="col mood-color col-auto m-1"
      data-mood="{% if mood is not None %}{{ mood.value }}{% else %}-1{% endif %}"
    >
      <h5 class="w-100 h-100" style="color: rgba(0, 0, 0, 0)">#</h5>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
