{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aino's {% block title %}site{% endblock %}</title>
    <link rel="shortcut icon" type="image/svg" href="{% static "images/logo_round.svg" %}" >
    <script src="https://kit.fontawesome.com/7aaeea235c.js" crossorigin="anonymous"></script>
    {% compress css %}
    <link type="text/x-scss" href="{% static "styles/style.scss" %}" rel="stylesheet" media="screen">
    {% block css %}
    {% endblock %}
    {% endcompress %}
  </head>
    <body>
      {% include "pages/navbar.html" %}
      <div class="container-fluid text-center p-0">
        {% block content %}
        <h1>404 page not found</h1>
        {% endblock %}
      </div>
    </body>
    {% compress js %}
    <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    {% endcompress %}
</html>
