{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ request.COOKIES.theme }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}404{% endblock %} | Aino</title>
		<link rel="shortcut icon" type="image/svg" href="{% static "images/logo_round.svg" %}" >
		<script src="https://kit.fontawesome.com/7aaeea235c.js" crossorigin="anonymous"></script>
		<script async src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS_CHTML"></script>
		<link type="text/css" href="{% static "styles/pygments.css" %}" rel="stylesheet" media="screen">
    {% render_bundle "main" "css" %}
	</head>
	<body>
		<div class="min-vh-100 w-100 d-flex flex-column justify-content-between mx-auto">
			<div class="container-fluid row justify-content-center mx-auto p-0">
				<div class="col-sm-10 col-md-9 col-lg-8 col-xl-6">
					{% include "pages/layout/navbar.html" %}
					<main class="container-fluid row justify-content-center p-0 mx-auto">
						<div class="col-sm-12 col-md-10 mt-5 text-center mx-auto">
							{% block content %}
							<h1>404 page not found</h1>
							{% endblock %}
						</div>
					</main>
				</div>
			</div>
			{% include "pages/layout/footer.html" %}
		</div>
	</body>
	{% render_bundle "main" "js" %}
</html>
