{% extends "pages/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
<link type="text/x-scss" href="{% static "styles/pages/home.scss" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="container-fluid text-start">
  <div class="container-fluid">
    <h2><strong>Intrö</strong></h2>
    <p>
    Hi, I'm <strong>Aino</strong> and I'm a wannabe software-engineer. I mostly contribute some random open source stuff.
    </p>
    <div>
      <a href="{{ CONTACT.github }}" class="m-1 text-light"><i class="fa-brands fa-github fa-xl"></i></a>
      <a href="mailto:{{ CONTACT.email}}" class="m-1 text-light"><i class="fa-solid fa-at fa-xl"></i></a>
      <a href="{{ CONTACT.instagram }}" class="m-1 text-light"><i class="fa-brands fa-instagram fa-xl"></i></a>
    </div>
  </div>
  <div class="m-5"></div>

  <div class="container-fluid text-center">
    <h4 class="fw-bold">Last posts</h4>
    {% for post in posts %}
    <a href="{% url "post" post.pk %}" class="btn btn-secondary text-light w-100 m-2">
      <h2>{{ post.title }}</h2>
      <p>{{ post.description }}</p>
    </a>
    {% endfor %}
    <div class="container-fluid d-flex justify-content-center">
      <a href="{% url "posts" %}" class="btn btn-outline-secondary text-light m-2"><i class="fa-solid fa-caret-down"></i> All posts</a>
    </div>
  </div>
</div>
{% endblock %}
