{% extends "pages/base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
<h2><strong>Les posts</strong></h2>

<div class="container-fluid text-center my-3">
	<div class="container-fluid">
		<form action="{% url "posts" %}" method="get">
			<input name="q" type="text" class="form-control" placeholder="Search" value="{{ query }}" />
		</form>
	</div>

  <div class="container-fluid">
			{% for post in posts %}
			{% include "pages/layout/postcard.html" %}
			{% endfor %}
			{% if not posts %}
			<div class="m-4 h3">
				No posts have been found.
			</div>
			{% endif %}
	</div>

	<div class="container-fluid d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <a{% if page_before %} href="{% url "posts" page|add:"-1" %}?q={{ query|urlencode }}"{% endif %}
                               class="page-link text-reset{% if not page_before %} disabled{% endif %}">
          <i class="fa-solid fa-caret-left"></i>
        </a>
      </li>
      {% if page_before %}
      <li class="page-item">
        <a href="{% url "posts" page_first %}?q={{ query|urlencode }}"
           class="page-link text-reset">
          {{ page_first|add:"1" }}
        </a>
      </li>
      {% endif %}
      <li class="page-item">
        <a href="{% url "posts" page %}?q={{ query|urlencode }}"
           class="page-link text-reset text-decoration-underline">
          {{ page|add:"1" }}
        </a>
      </li>
      {% if page_after %}
      <li class="page-item">
        <a href="{% url "posts" page_last %}?q={{ query|urlencode }}"
           class="page-link text-reset">
          {{ page_last|add:"1" }}
        </a>
      </li>
      {% endif %}
      <li class="page-item">
        <a{% if page_after %} href="{% url "posts" page|add:"1" %}?q={{ query|urlencode }}"{% endif %}
                              class="page-link text-reset{% if not page_after %} disabled{% endif %}">
          <i class="fa-solid fa-caret-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
