:root {
  --Rosewater: rgb(245, 224, 220);
  --Flamingo: rgb(242, 205, 205);
  --Pink: rgb(245, 194, 231);
  --Mauve: rgb(203, 166, 247);
  --Red: rgb(243, 139, 168);
  --Maroon: rgb(235, 160, 172);
  --Peach: rgb(250, 179, 135);
  --Yellow: rgb(249, 226, 175);
  --Green: rgb(166, 227, 161);
  --Teal: rgb(148, 226, 213);
  --Sky: rgb(137, 220, 235);
  --Sapphire: rgb(116, 199, 236);
  --Blue: rgb(137, 180, 250);
  --Lavender: rgb(180, 190, 254);
  --Text: rgb(205, 214, 244);
  --Subtext1: rgb(186, 194, 222);
  --Subtext0: rgb(166, 173, 200);
  --Overlay2: rgb(147, 153, 178);
  --Overlay1: rgb(127, 132, 156);
  --Overlay0: rgb(108, 112, 134);
  --Surface2: rgb(88, 91, 112);
  --Surface1: rgb(69, 71, 90);
  --Surface0: rgb(49, 50, 68);
  --Base: rgb(30, 30, 46);
  --Mantle: rgb(24, 24, 37);
  --Crust: rgb(17, 17, 27);
}
