div.container {
  display: flex;
  justify-content: center;
}

div.container > div {
  text-align: center;
}

div.container > div {
  width: 15%;
}

div.container a {
  text-decoration: underline;
}

div.container > div.social a {
  text-decoration: none;
  margin: 7.5px;
}

div.container > div.social > div {
  display: flex;
  justify-content: center;
}

@media (orientation: portrait) {
  div.container > div {
    width: 50%;
  }
}

