div.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 70%;
  color: var(--text);
}

div.container > table#title {
  table-layout: fixed;
  width: 100%;
}

div.container > table#title > tr > td {
  width: 100%;
}

div.container > table#title > tr > td.back {
  text-align: left;
}

div.container > table#title > tr > td.title {
  text-align: center;
}

div.container > table#title > tr > td.date {
  text-align: right;
}

@media (orientation: portrait) {
  div.container {
    margin: 5px auto;
    width: 100%;
  }
}

