a.post-card {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  width: 50%;
  border: 3px solid var(--Mantle);
  text-decoration: none;
  color: var(--Text);
}

a.post-card > * {
  margin-left: 10px;
  margin-right: 10px;
}

div.content {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

#new-post {
  width: 100%;
  margin: 0;
}

#new-post-card {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color: var(--Mantle);
  padding: 0;
}

@media (orientation: portrait) {
  div.content {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  a.post-card {
    margin: 5px auto;
    width: 80%;
  }
}

