pre {
  line-height: 125%;
}
td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.source-code-highlight .hll {
  background-color: #ebdbb2;
}
.source-code-highlight {
  background: #282828;
  color: #dddddd;
}
.source-code-highlight .c {
  color: #928374;
  font-style: italic;
} /* Comment */
.source-code-highlight .err {
  color: #282828;
  background-color: #fb4934;
} /* Error */
.source-code-highlight .esc {
  color: #dddddd;
} /* Escape */
.source-code-highlight .g {
  color: #dddddd;
} /* Generic */
.source-code-highlight .k {
  color: #fb4934;
} /* Keyword */
.source-code-highlight .l {
  color: #dddddd;
} /* Literal */
.source-code-highlight .n {
  color: #dddddd;
} /* Name */
.source-code-highlight .o {
  color: #dddddd;
} /* Operator */
.source-code-highlight .x {
  color: #dddddd;
} /* Other */
.source-code-highlight .p {
  color: #dddddd;
} /* Punctuation */
.source-code-highlight .ch {
  color: #928374;
  font-style: italic;
} /* Comment.Hashbang */
.source-code-highlight .cm {
  color: #928374;
  font-style: italic;
} /* Comment.Multiline */
.source-code-highlight .c-PreProc {
  color: #8ec07c;
  font-style: italic;
} /* Comment.PreProc */
.source-code-highlight .cp {
  color: #928374;
  font-style: italic;
} /* Comment.Preproc */
.source-code-highlight .cpf {
  color: #928374;
  font-style: italic;
} /* Comment.PreprocFile */
.source-code-highlight .c1 {
  color: #928374;
  font-style: italic;
} /* Comment.Single */
.source-code-highlight .cs {
  color: #ebdbb2;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
.source-code-highlight .gd {
  color: #282828;
  background-color: #fb4934;
} /* Generic.Deleted */
.source-code-highlight .ge {
  color: #dddddd;
  font-style: italic;
} /* Generic.Emph */
.source-code-highlight .ges {
  color: #dddddd;
  font-weight: bold;
  font-style: italic;
} /* Generic.EmphStrong */
.source-code-highlight .gr {
  color: #fb4934;
} /* Generic.Error */
.source-code-highlight .gh {
  color: #ebdbb2;
  font-weight: bold;
} /* Generic.Heading */
.source-code-highlight .gi {
  color: #282828;
  background-color: #b8bb26;
} /* Generic.Inserted */
.source-code-highlight .go {
  color: #f2e5bc;
} /* Generic.Output */
.source-code-highlight .gp {
  color: #a89984;
} /* Generic.Prompt */
.source-code-highlight .gs {
  color: #dddddd;
  font-weight: bold;
} /* Generic.Strong */
.source-code-highlight .gu {
  color: #ebdbb2;
  text-decoration: underline;
} /* Generic.Subheading */
.source-code-highlight .gt {
  color: #fb4934;
} /* Generic.Traceback */
.source-code-highlight .kc {
  color: #fb4934;
} /* Keyword.Constant */
.source-code-highlight .kd {
  color: #fb4934;
} /* Keyword.Declaration */
.source-code-highlight .kn {
  color: #fb4934;
} /* Keyword.Namespace */
.source-code-highlight .kp {
  color: #fb4934;
} /* Keyword.Pseudo */
.source-code-highlight .kr {
  color: #fb4934;
} /* Keyword.Reserved */
.source-code-highlight .kt {
  color: #fb4934;
} /* Keyword.Type */
.source-code-highlight .ld {
  color: #dddddd;
} /* Literal.Date */
.source-code-highlight .m {
  color: #d3869b;
} /* Literal.Number */
.source-code-highlight .s {
  color: #b8bb26;
} /* Literal.String */
.source-code-highlight .na {
  color: #fabd2f;
} /* Name.Attribute */
.source-code-highlight .nb {
  color: #fe8019;
} /* Name.Builtin */
.source-code-highlight .nc {
  color: #8ec07c;
} /* Name.Class */
.source-code-highlight .no {
  color: #d3869b;
} /* Name.Constant */
.source-code-highlight .nd {
  color: #fb4934;
} /* Name.Decorator */
.source-code-highlight .ni {
  color: #dddddd;
} /* Name.Entity */
.source-code-highlight .ne {
  color: #fb4934;
} /* Name.Exception */
.source-code-highlight .nf {
  color: #8ec07c;
} /* Name.Function */
.source-code-highlight .nl {
  color: #dddddd;
} /* Name.Label */
.source-code-highlight .nn {
  color: #8ec07c;
} /* Name.Namespace */
.source-code-highlight .nx {
  color: #dddddd;
} /* Name.Other */
.source-code-highlight .py {
  color: #dddddd;
} /* Name.Property */
.source-code-highlight .nt {
  color: #8ec07c;
} /* Name.Tag */
.source-code-highlight .nv {
  color: #83a598;
} /* Name.Variable */
.source-code-highlight .ow {
  color: #fb4934;
} /* Operator.Word */
.source-code-highlight .pm {
  color: #dddddd;
} /* Punctuation.Marker */
.source-code-highlight .w {
  color: #dddddd;
} /* Text.Whitespace */
.source-code-highlight .mb {
  color: #d3869b;
} /* Literal.Number.Bin */
.source-code-highlight .mf {
  color: #d3869b;
} /* Literal.Number.Float */
.source-code-highlight .mh {
  color: #d3869b;
} /* Literal.Number.Hex */
.source-code-highlight .mi {
  color: #d3869b;
} /* Literal.Number.Integer */
.source-code-highlight .mo {
  color: #d3869b;
} /* Literal.Number.Oct */
.source-code-highlight .sa {
  color: #b8bb26;
} /* Literal.String.Affix */
.source-code-highlight .sb {
  color: #b8bb26;
} /* Literal.String.Backtick */
.source-code-highlight .sc {
  color: #b8bb26;
} /* Literal.String.Char */
.source-code-highlight .dl {
  color: #b8bb26;
} /* Literal.String.Delimiter */
.source-code-highlight .sd {
  color: #b8bb26;
} /* Literal.String.Doc */
.source-code-highlight .s2 {
  color: #b8bb26;
} /* Literal.String.Double */
.source-code-highlight .se {
  color: #fe8019;
} /* Literal.String.Escape */
.source-code-highlight .sh {
  color: #b8bb26;
} /* Literal.String.Heredoc */
.source-code-highlight .si {
  color: #b8bb26;
} /* Literal.String.Interpol */
.source-code-highlight .sx {
  color: #b8bb26;
} /* Literal.String.Other */
.source-code-highlight .sr {
  color: #b8bb26;
} /* Literal.String.Regex */
.source-code-highlight .s1 {
  color: #b8bb26;
} /* Literal.String.Single */
.source-code-highlight .ss {
  color: #b8bb26;
} /* Literal.String.Symbol */
.source-code-highlight .bp {
  color: #fe8019;
} /* Name.Builtin.Pseudo */
.source-code-highlight .fm {
  color: #8ec07c;
} /* Name.Function.Magic */
.source-code-highlight .vc {
  color: #83a598;
} /* Name.Variable.Class */
.source-code-highlight .vg {
  color: #83a598;
} /* Name.Variable.Global */
.source-code-highlight .vi {
  color: #83a598;
} /* Name.Variable.Instance */
.source-code-highlight .vm {
  color: #83a598;
} /* Name.Variable.Magic */
.source-code-highlight .il {
  color: #d3869b;
} /* Literal.Number.Integer.Long */
