div.content {
  margin: 0 auto;
  width: 30%;
}

table.entries {
  width: 75%;
  margin: 10px auto;
  margin-bottom: 15px;
}

table.entries tr td.key {
  text-align: left;
}

table.entries tr td.input {
  text-align: right;
}

#settings-error {
  color: var(--red);
  display: none;
}

#settings-success {
  color: var(--green);
  display: none;
}

@media (orientation: portrait) {
  div.content {
    width: 100%;
  }

  table.entries {
    width: 100%;
  }

  table.entries tr td:not(.hide) {
    display: block;
  }

  table.entries tr td.input {
    float: left;
  }

  table.entries tr td.reset {
    text-align: left;
  }
}

