div.container {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

div.container > div > * {
  width: 75%;
  margin: 2px auto;
}

div.container > div > .submit {
  margin: 7.5px auto;
}

#signup-error{
  color: var(--red);
  display: none;
}

@media (orientation: portrait) {
  div.container {
    width: 80%;
  }
}

