:root {
  --primary: #2b2f31;
  --secondary: #262a2b;
  --background: #181a1b;
  --text: #e8e6e3;
  --dark: #131516;
  --green: #32a852;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary);
}

ul.navbar li {
  float: left;
}

ul.navbar li.right {
  float: right;
}

ul.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: var(--primary);
  font-size: 14pt;
  color: var(--text);
}

ul.navbar li a:hover {
  background-color: var(--dark);
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: auto;
}

footer p {
  float: left;
  margin: 20px;
}

div.main {
  margin: 20px;
  text-align: center;
}

button {
  border: none;
  height: 30px;
  border-radius: 2px;
  background-color: var(--primary);
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
}

button:hover {
  background-color: var(--secondary);
}

button.square {
  width: 30px;
  height: 30px;
}

hr.spacer {
  border: none;
  border-top: 3px solid var(--primary);
  width: 80%;
}

.text-input {
  min-height: 30px;
  border: none;
  background-color: var(--secondary);
  color: var(--text);
}

#navbar-notify {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 14pt;
  color: var(--green);
}

