@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("/static/styles/colors.css");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  background-color: var(--Crust);
  color: var(--Text);
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--Mantle);
}

ul.navbar li {
  float: left;
}

ul.navbar li.right {
  float: right;
}

ul.navbar li.logout a {
  color: var(--Red);
}

ul.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: var(--Base);
  font-size: 14pt;
  color: var(--Text);
}

ul.navbar li.selected a {
  text-decoration: underline;
}

ul.navbar li a:hover {
  background-color: var(--Crust);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: auto;
}

footer p {
  float: left;
  margin: 20px;
}

footer * {
  color: var(--Surface0);
}

div.main {
  margin: 20px;
  text-align: center;
}

button {
  border: none;
  height: 30px;
  border-radius: 2px;
  background-color: var(--Mantle);
  color: var(--Text);
}

a {
  color: var(--Text);
  text-decoration: none;
}

button:hover {
  background-color: var(--Surface0);
}

button.square {
  width: 30px;
  height: 30px;
}

hr.spacer {
  border: none;
  border-top: 3px solid var(--Mantle);
  width: 80%;
}

input[type="text"], input[type="number"], .text-input {
  min-height: 30px;
  border: none;
  background-color: var(--Surface0);
  color: var(--Text);
}

#navbar-notify {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 14pt;
  color: var(--Green);
}

.hide {
  display: none;
}

@media (orientation: portrait) {
  ul.navbar {
    display: flex;
    padding: 0;
    margin: 0;
  }
  ul.navbar li {
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
  #navbar-notify {
    display: none;
  }
}

