@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --primary: #2b2f31;
  --secondary: #262a2b;
  --background: #181a1b;
  --text: #e8e6e3;
  --dark-text: #52514f;
  --dark: #131516;
  --green: #32a852;
  --red: #ff5733;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  background-color: var(--background);
  color: var(--text);
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary);
}

ul.navbar li {
  float: left;
}

ul.navbar li.right {
  float: right;
}

ul.navbar li.logout a {
  color: var(--red);
}

ul.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: var(--primary);
  font-size: 14pt;
  color: var(--text);
}

ul.navbar li.selected a {
  text-decoration: underline;
}

ul.navbar li a:hover {
  background-color: var(--dark);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: auto;
}

footer p {
  float: left;
  margin: 20px;
}

footer * {
  color: var(--dark-text);
}

div.main {
  margin: 20px;
  text-align: center;
}

button {
  border: none;
  height: 30px;
  border-radius: 2px;
  background-color: var(--primary);
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
}

button:hover {
  background-color: var(--secondary);
}

button.square {
  width: 30px;
  height: 30px;
}

hr.spacer {
  border: none;
  border-top: 3px solid var(--primary);
  width: 80%;
}

input[type="text"], .text-input {
  min-height: 30px;
  border: none;
  background-color: var(--secondary);
  color: var(--text);
}

#navbar-notify {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 14pt;
  color: var(--green);
}

.hide {
  display: none;
}

@media (orientation: portrait) {
  ul.navbar {
    display: flex;
    padding: 0;
    margin: 0;
  }
  ul.navbar li {
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
  #navbar-notify {
    display: none;
  }
}

