{{ define "navbar" }}

{{ $navvalues := navitems "home" "Home" "/home" "about" "About" "/about" "posts" "Posts" "/posts" "contact" "Contact" "/contact" }}

<ul class="navbar">
  {{ range $item := $navvalues }}
  <li {{if eq (navtemplate $item) $.template }}class="selected"{{ end }}><a href="{{ navhref $item }}">{{ navtitle $item }}</a></li>
  {{ end }}

  {{ if .authed }}
  <li class="right logout">
    <a href="/logout"><i class="fa-solid fa-right-from-bracket fa-fw"></i></a>
  </li>
  {{ else }}
  <li class="right login">
    <a href="/login"><i class="fa-solid fa-right-to-bracket fa-fw"></i></a>
  </li>
  {{ end }}
  <li class="right" id="navbar-notify"><p></p></li>
</ul>

{{ end }}
