<footer class="row m-0 mt-5 p-0">
  <div class="col d-none d-lg-flex justify-content-start align-items-center">
    <a class="text-reset" href="https://randyau.github.io/datawebring/">
      Data People Writing Stuff
    </a>
  </div>
  <div class="col d-flex justify-content-center align-items-center">
    <div>&copy; {% now "Y" %} Aino Spring</div>
    <div class="mx-2">&bull;</div>
    <div class="d-none d-sm-flex align-items-center">
      <a
        href="mailto:{{ CONTACT.email}}"
        class="text-reset text-decoration-none"
        >{{ CONTACT.email_shown }}</a
      >
      <div class="mx-2">&bull;</div>
    </div>
    <div>
      <a
        href="{{ CONTACT.github_site }}"
        class="text-reset text-decoration-none"
        >This site on GitHub</a
      >
    </div>
  </div>
  <div class="col d-none d-lg-flex justify-content-end ms-auto pe-0">
    <a class="ms-auto" href="https://fsf.org/"
      ><img src="https://static.fsf.org/nosvn/associate/crm/6905446.png"
    /></a>
  </div>
</footer>
