{% load static %}
<nav class="w-100 row mt-3 mx-0">
	<div class="col-1 d-flex justify-content-start">
		<a class="text-reset text-decoration-none h4" href="{% url "home" %}">
			Aino
		</a>
	</div>

	<div class="col-10 d-flex justify-content-center">
		{% for page in NAV_PAGES %}
			<a class="mx-4 text-decoration-none {% if request.resolver_match.url_name in page.urls %}text-reset{% else %}text-secondary{% endif %}"
				 href="{% if "://" in page.url %}{{ page.url }}{% else %}{% url page.url %}{% endif %}">// {{ page.name }}</a>
		{% endfor %}
	</div>

	<div class="col-1 d-flex justify-content-end">
		{% if user.is_superuser %}
		<form method="post" class="me-4" action="{% url "admin:logout" %}?next=%2F">
			{% csrf_token %}
    	<a href="#" onclick="this.parentNode.submit();" class="text-danger text-decoration-none">logout</a>
		</form>
		{% endif %}
		<div id="theme-toggle" style="cursor: pointer"><i class="fa-solid fa-circle-half-stroke"></i></div>
	</div>
</nav>
