<a href="{% url "post" post.pk %}" class="bg-body-tertiary rounded d-block text-decoration-none text-reset my-3 p-1 mx-auto">
  <article class="container-fluid text-start p-2">
    <h3 class="m-0">{{ post.title }}</h3>
		<div class="text-secondary">
			<div class="d-flex justify-content-start fst-italic">
				<div>{{ post.created_on|date:"M d, Y" }}</div>
				<div class="mx-1">&bull;</div>
				<div>{{ post.read_time }} min</div>
				<div class="mx-1">&bull;</div>
				<div>{{ post.words }} word{% if post.words > 1 %}s{% endif %}</div>
			</div>
			<div>{{ post.description }}</div>
		</div>
  </article>
</a>
